@model IEnumerable<gis_final.ViewModels.TeacherViewModel>

@{
    ViewData["Title"] = "Index";
}

<h3>Teachers</h3>

<p>
    <a asp-action="Create" asp-controller="Users" asp-route-userType="1" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Family
            </th>
            <th>
                Id
            </th>
            <th>
                Phone Number
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Email)
            </th>
            <th>Role</th>
            <th>Tag</th>
            <th>Assign Field</th>
            <th>Assign Courses</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Roles.Title)
            </td>
            <td>
                @if (item.TagName == "Unknown")
                {
                    <a asp-action="AddTag" asp-route-id="@item.User.Id"><i class="fa fa-plus text-success"></i></a>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.TagName)
                    <span> &nbsp</span> <a asp-action="AddTag" asp-route-id="@item.User.Id"><i class="fa fa-edit"></i></a>
                    <span> &nbsp</span> <a asp-action="RemoveTag" asp-route-id="@item.User.Id"><i class="fa fa-trash text-danger"></i></a>
                }
            </td>

            <td>
                @if (item.FieldName == "Unknown")
                {
                    <a asp-action="AssignField" asp-route-id="@item.User.Id"><i class="fa fa-plus text-success"></i></a>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.FieldName)
                    <span> &nbsp</span> <a asp-action="AssignField" asp-route-id="@item.User.Id"><i class="fa fa-edit"></i></a>
                    <span> &nbsp</span> <a asp-action="RemoveField" asp-route-id="@item.User.Id"><i class="fa fa-trash text-danger"></i></a>
                }
            </td>
            <td>
                <a asp-action="AssignFieldCourses" asp-route-id="@item.User.Id"><i class="fa fa-plus text-success"></i></a>
            </td>
        </tr>
        }
    </tbody>
</table>
