@model IEnumerable<gis_final.ViewModels.CourseStudentsViewModel>

@{
    ViewData["Title"] = "GetStudents";
}

<h1>GetStudents</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Student Name
            </th>
            <th>
                Student Family
            </th>
            <th>
                Student Email
            </th>
            <th>
                Field
            </th>
            <th>
                Course
            </th>
            <th>
                Year
            </th>
            <th>
                Term
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Student.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Field.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Term)
            </td>
        </tr>
}
    </tbody>
</table>
