@model IEnumerable<gis_final.Models.TeacherFieldCourse>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@if (HttpContextAccessor.HttpContext.Session.GetString("Role") == "Admin")
{
    <p>
        <a asp-action="AssignFieldCourses" asp-controller="Teachers" asp-route-id="@ViewBag.teacherId" class="btn btn-primary">Add new Field - Course</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                Field
            </th>
            <th>
                Course
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                Day
            </th>
            <th>
                Status
            </th>
            <th>Students</th>
            <th>Assistants</th>
            @if (HttpContextAccessor.HttpContext.Session.GetString("Role") == "Admin")
            {
                <th></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FieldCourses.Field.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FieldCourses.Course.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DayId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusId)
            </td>
            <td>
                <a asp-action="GetStudents" asp-route-id="@item.Id"><i class="fa fa-eye"></i></a>
            </td>
            <td>
                <a asp-action="GetResearchAssistants" asp-route-id="@item.Id"><i class="fa fa-eye"></i></a>
            </td>
            @if (HttpContextAccessor.HttpContext.Session.GetString("Role") == "Admin")
            {
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash text-danger"></i></a>
                </td>
            }
        </tr>
        }
    </tbody>
</table>
